* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ol {
	list-style: none;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	width: 1260px;
	margin: 0 auto;
	/*水平范围居中*/
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.float {
	display: none;
	top: 0;
	width: 1260px;
	height: 60px;
	line-height: 60px;
	margin: 0 auto;
	position: fixed;
	background: #2e323e;
}

.float.fixed {
	display: block;
	width: 100%;
	position: fixed;
	z-index: 9999;
}


.header {
	height: 100px;
	margin: 0 auto;
	width: 1260px;
}

.logo a {
	font-size: 30px;
	color: black;
	height: 100px;
	line-height: 100px;
	margin-left: 60px;
}

.content {
	margin-left: 785px;
	height: 100px;
	line-height: 100px;
}

.content-1 span:hover {
	cursor: :pointer;
}

#search {
	height: 30px;
	width: 200px;
	border: 1px solid grey;
	border-radius: 3px;
}


/*.content a span{
	height: 30px;
	width: 40px;
}*/

.nav-100 {
	height: 100px;
	float: right;
	margin-top: -100px;
	margin-right: 64px;
}

.nav ul {
	height: 100px;
	line-height: 100px;
}

.nav ul li {
	padding-left: 15px;
}

.list {
	line-height: 100px;
	padding-left: 21px;
}

.nav a {
	font-size: 19px;
	color: black;
}

.list a:hover {
	color: lightblue;
}

.item active img {
	width: 1260px;
	height: 380px;
}

.intro-pic {
	height: 271px;
	width: 210px;
	background: #fff;
}

.intro-pic:hover {
	box-shadow: #999 5px 5px 5px;
}

.intro-pic a img {
	height: 137px;
	width: 210px;
}

.intro ul li {
	margin-right: 18px;
}

.one img {
	width: 350px;
}

.two img {
	width: 750px;
}

.pic ul li {
	margin-right: 20px;
	margin-top: 30px;
}

.depart {
	height: 630px;
	margin-top: 10px;
}

.nav-tabs {
	margin-top: 20px;
	margin-right: 742px;
}

.more {
	float: right;
	margin-right: 55px;
	margin-top: -33px;
	z-index: -9999;
	font-size: 20px;
}

.first {
	height: 230px;
	width: 550px;
	position: relative;
	background: #EEEEEE;
	border: 1px solid #e8e8e8;
}

.first:hover {
	box-shadow: #999999 5px 5px 5px;
}

.cent {
	height: 230px;
	width: 250px;
	margin-left: 31px;
	margin-bottom:25px;
	background: #EEEEEE;
	border: 1px solid #e8e8e8;
	position: relative;
}

.cent:hover {
	box-shadow: #999999 5px 5px 5px;
}

.cent-3 {
	height: 470px;
	width: 250px;
	margin-left: 35px;
	position: relative;
	background: #EEEEEE;
	border: 1px solid #e8e8e8;
}

.cent-3:hover {
	box-shadow: #999999 5px 5px 5px;
}

.cent img {
	height: 150px;
	width: 270px;
}

.cent-100 {
	line-height: 20px;
	width: 108%;
	height: 230px;
	background: rgba(0,0,0,.7);
	color: white;
	bottom: 0;
	position: absolute;
	display: none;
	text-align: center;
	padding-top: 60px;
}

.bt p {
	margin-top: 20px;
}

.cent-100 p a {
	color: #000000;
}

.cent-99 {
	line-height: 25px;
	width: 100%;
	height: 230px;
	background: rgba(0,0,0,.7);
	color: white;
	bottom: 0;
	position: absolute;
	display: none;
	text-align: center;
	padding-top: 70px;
}

.cent-99 p a {
	color: #000000;
	font-size: 17px;
}

.cent-98 {
	line-height: 20px;
	width: 100%;
	height: 470px;
	position: absolute;
	display: none;
	background: rgba(0,0,0,.7);
	color: white;
	bottom: 0;
	text-align: center;
	padding-top: 170px;
}

.cent-98 p a {
	color: #000000;
	font-size: 15px;
}

.footer {
	height: 155px;
	background: #333;
}

.tu {
	font-size: 22px;
	height: 155px;
	line-height: 155px;
	color: ghostwhite;
}

.side li {
	height: 51px;
}

.side {
	position: fixed;
	right: 60px;
	bottom: 20px;
}

#top {
	height: 51px;
	width: 51px;
}

#top img {
	height: 51px;
	width: 51px;
}

.top {
	display: none;
	height: 51px;
	background-image: url(../img/返回顶部.png) no-repeat;
}

.top.show {
	display: block;
	height: 51px;
}

.footer-100 {
	margin-left: 500px;
	margin-top: -145px;
}

.footer-100 li {
	margin-right: 60px;
}

.footer-100 span {
	color: rgb(204, 204, 204);
	font-size: 17px;
	margin: 0 auto;
}

.footer-100 a {
	color: rgb(204, 204, 204);
	font-size: 12px;
}

.pictutu {
	overflow: hidden;
	width: 210px;
	height: 137px;
	border: antiquewhite 1px solid;
	border-radius: 3px;
}

.pictutu img {
	cursor: pointer;
	transition: all 0.8s;
}

.pictutu img:hover {
	transform: scale(1.2);
}

.pictutu-1 {
	overflow: hidden;
	width: 268px;
	height: 230px;
	border-radius: 3px;
	border: 1px solid #e8e8e8;
}

.pictutu-1 img {
	width: 268px;
	height: 230px;
	cursor: pointer;
	transition: all 0.8s;
}

.pictutu-1 img:hover {
	transform: scale(1.2);
}

.pictutu-2 {
	overflow: hidden;
	width: 550px;
	height: 230px;
	border-radius: 3px;
	border-right: 1px solid #e8e8e8;
}

.pictutu-2 img {
	width: 550px;
	height: 230px;
	cursor: pointer;
	transition: all 0.8s;
}

.pictutu-2 img:hover {
	transform: scale(1.2);
}

.pictutu-3 {
	overflow: hidden;
	width: 250px;
	height: 470px;
	border-radius: 3px;
	border-right: 1px solid #e8e8e8;
}

.pictutu-3 img {
	width: 250px;
	height: 470px;
	cursor: pointer;
	transition: all 0.8s;
}

.pictutu-3 img:hover {
	transform: scale(1.2);
}


/* 遮罩层 */

#mask {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	filter: alpha(opacity=70);
	/*IE滤镜，透明度50%*/
	-moz-opacity: 0.7;
	/*Firefox私有，透明度50%*/
	opacity: 0.7;
	/*其他，透明度50%*/
	z-index: 9;
}


/* 遮罩层 */


/* 登录表单 */

.login-form {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 386px;
	height: 288px;
	margin: -144px 0 0 -193px;
	z-index: 10;
	background: #fff;
}

.login-form .login-bd {
	margin: 30px 0 0 40px;
}

.login-form .close {
	float: right;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	margin: 10px 10px 0 0;
	color: #0e0e0e;
	cursor: pointer;
}

.login-form h3 {
	margin: 20px 0 20px 40px;
	font-size: 18px;
	font-weight: normal!important;
	color: #444;
	line-height: 38px;
}

.login-form input {
	display: block;
	width: 296px;
	height: 44px;
	font-size: 16px;
	text-indent: 10px;
	background-color: #fafafa;
	border: 1px solid #f1f1f1;
	box-shadow: 0 1px 1px #e6e6e6;
	color: #999;
	margin: 0 0 16px 40px;
}

.login-form .login-btn {
	width: 296px;
	height: 46px;
	font-size: 16px;
	color: #ffffff;
	margin: 14px 0 0 40px;
	background-color: #2ab14f;
	border: none;
}

.first:hover .cent-99{
	display: block;
	animation: mengban 5s;
}
.cent:hover .cent-100{
	display: block;
	animation: mengban 5s;
}
.cent-3:hover .cent-98{
	display: block;
	animation: mengban 5s;
}
@-moz-keyframes mengban{
	from{
		bottom: -230px;
	}
	to{
		bottom: 0;
	}
}
